<section class="block block-footer-2">
  <div class="container">
    <div class="columns">
      <div class="column">
        <a href="{{ section.col_1.link | relative_url }}">{{ section.col_1.text }}</a>
          {% if section.cta %}
            <a class="button primary small" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
          {% endif %}
      </div>
      <div class="column second">
        <a href="{{ section.col_2.link | relative_url }}">{{ section.col_2.text }}</a>
        {% if section.cta %}
          <a class="button primary small" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
        {% endif %}
      </div>
      <div class="column third">
        <a href="{{ section.col_3.link | relative_url }}">{{ section.col_3.text }}</a>
          {% if section.cta %}
            <a class="button primary small" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
          {% endif %}
      </div>
    <div class="greetings">
      {{ section.greetings }}
    </div>
    </div>
  </div>
</section>