.block-feature-1 {

  .columns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .column.text {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin-bottom: 32px;
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 16px;
      margin-bottom: 1rem
    }

    p {
      margin: 16px 0 32px;
      margin: 1rem 0 2rem;
    }

    .cta {
      margin: 2rem 0;
    }
  }

  .column.media {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 0;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 70vh;
    }
  }
}

@media screen and (min-width:700px) {
  .block-feature-1 {
    .columns {
      text-align: left
    }
    
    .column.text {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      margin-bottom: 0;
    }

    .column.media {
      text-align: center;
      -ms-flex: 0 0 calc(50% - 4rem);
      flex: 0 0 calc(50% - 4rem)
    }
  }
}