.block-three-column-1 {
  .columns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: left;
  }

  .column {
    -ms-flex: 0 1 calc(100% - 4rem);
    flex: 0 1 calc(100% - 4rem);
    margin: 32px;
    margin: 2rem;
  
    h2 {
      margin-bottom: 16px;
      margin-bottom: 1rem;
    }
  }

  .rectangle {
    background-color: $accent-background;
    height: 110%;
    width: calc(100% + 8rem);
    position: absolute;
    left: -8rem;
    top: -2rem;
    z-index: -1;
  }
}


@media screen and (min-width:750px) {
  .block-three-column-1 {
    margin: 4rem 0;

    h1 {
      text-align: end;
      margin-bottom: 4rem;
    }

    .column {
      -ms-flex: 0 1 calc(25% - 4rem);
      flex: 0 1 calc(25% - 4rem);
    }

    .rectangle {
      width: 95%;
      height: 140%;
      top: -4rem;
      border-radius: 0 50px 50px 0;
    }
  }
  
}