@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

html {
  font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.block {
  padding: 64px 32px;
  padding: 4rem 2rem
}

@media screen and (min-width:700px) {
  .block {
    padding: 6rem 8rem;
  }
}

::-moz-selection {
  background: $selection;
  color: #333
}

::-webkit-selection {
  background: $selection;
  color: #333
}

::selection {
  background: $selection;
  color: #333
}