$background: #fff;
$accent-background: #F2F2F2;
$input-background: #ffffff;
$primary: #686868;
$accent: #222222;

$font-color: #383838;
$font-color-headline: #000;
$font-color-inverted: #f6fbfc;

$selection: #94949460;

$error: #D00000;
$warn: #FFBA08;
$success: #0A8754;


$shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);