h1 {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1.6px;
  letter-spacing: -.1rem;
  line-height: 1;
  color: $text-color-headline;
}

h1 span.light {
  font-weight: 300
}

h2 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700
}

h2 span.light {
  font-weight: 300
}

h3 {
  font-weight: 700;
  letter-spacing: 0
}

h3, p {
  font-size: 20px;
  font-size: 1.3rem;
  line-height: 1.5;
}

p {
  font-weight: 400;
  color: $text-color;
}

@media screen and (min-width:700px) {
  h1 {
    font-size: 3.5rem
  }
}

@media screen and (min-width:1000px) {
  h1 {
    font-size: 4rem
  }
}